@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Roboto);
h1 {
  font-family: Roboto, sans-serif;
  text-align: center; }

.banner {
  font-family: 'Pacifico', cursive;
  height: 400px;
  background-image: url("../lemonade.jpg");
  border-top: 4px solid black;
  border-bottom: 4px solid black; }
  .banner .slogan {
    position: absolute;
    border: 4px solid black;
    top: 200px;
    left: 25%;
    width: 50%;
    height: 200px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); }
    .banner .slogan span {
      font-size: 24px;
      line-height: 200px; }

.container {
  text-align: center;
  font-family: 'Pacifico', cursive; }
  .container .icon {
    display: inline-block;
    margin: 2%;
    font-size: 32px;
    border-color: rgba(255, 255, 0, 0.5);
    border-width: 8px;
    border-style: dashed;
    width: 300px;
    height: 300px;
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d; }
    .container .icon:hover {
      transform: rotatey(-180deg);
      -webkit-transform: rotatey(-180deg);
      -moz-transform: rotatey(-180deg);
      -ms-transform: rotatey(-180deg);
      -o-transform: rotatey(-180deg); }
    .container .icon .front, .container .icon .back {
      position: absolute;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      -o-backface-visibility: hidden; }
    .container .icon .back {
      padding: 10px;
      transform: rotatey(-180deg);
      -webkit-transform: rotatey(-180deg);
      -moz-transform: rotatey(-180deg);
      -ms-transform: rotatey(-180deg);
      -o-transform: rotatey(-180deg); }

/*# sourceMappingURL=main.css.map */
