// import google font
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Roboto);

// import partials
@import "partials/transformation";
@import "partials/border";

//Add variables here:
$translucent-white: rgba(255, 255, 255, 0.8);
$icon-square-length: 300px;
$standard-border: 4px solid black;
$light-yellow: fade-out(yellow, 0.5);

h1 {
    font-family: Roboto, sans-serif;
    text-align: center;
}

.banner {
    font-family: 'Pacifico', cursive;
    height: 400px;
    background-image: url("../lemonade.jpg");

    border : {
        top: $standard-border;
        bottom: $standard-border;
    }
    
    .slogan {
        position: absolute;
        border: $standard-border;
        top: 200px;
        left: 25%;
        width: 50%;
        height: 200px;
        text-align: center;

        background-color: $translucent-white;

        span {
            font-size: 24px;
            line-height: 200px;
        }
    }

}

.container {
    text-align: center;
    font-family: 'Pacifico', cursive;

    .icon {
        display: inline-block;
        margin: 2%;
        font-size: 32px;

        @include border(8px, $light-yellow, dashed);

        width: $icon-square-length;
        height: $icon-square-length;

        @include transition(.8s);
        @include transform-style(preserve-3d);

        &:hover{
            @include transform (rotatey(-180deg));  
        }

        .front, .back {
            position: absolute;
            @include backface-visibility;
        }

        .back {
            padding: 10px;
            @include transform(rotatey(-180deg));
        }
    }
}