// import google font
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Roboto);

//Add variables here:

h1 {
    font-family: Roboto, sans-serif;
    text-align: center;
}

.banner {
    font-family: 'Pacifico', cursive;
    height: 400px;
    background-image: url("../lemonade.jpg");
}

.container {
    text-align: center;
    font-family: 'Pacifico', cursive;
}