<link rel="stylesheet" type="text/css" href="css/main.css">

<h1>LEMONADE</h1>

<div class="banner">
  <div class="slogan">
    <span>
      homemade with fresh ingredients
    </span>
  </div>  
</div>
  
<div class="container">
  <div class="icon">
    <p class="front">fresh lemons
        <img src="lemon.png">
    </p>
    <p class="back">Lorem ipsum dolor sit amet.</p>
    
  </div>
  <div class="icon">
    <p class="front">real sugar
        <img src="lemon.png">
    </p>
    <p class="back">Lorem ipsum dolor sit amet.</p>
  </div>
  <div class="icon">
      <p class="front">dad's recipe
          <img src="lemon.png">
      </p>
      <p class="back">Lorem ipsum dolor sit amet.</p>
  </div>
</div>  
  
  